@import "tailwindcss";

@theme {
    --font-Poppins: "Poppins", sans-serif; 
    --shadow-custom: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* common css */
.container{
    @apply w-291.5 mx-auto
}
.flex{
    @apply flex items-center
}
/* common css */
/* header part */
.header{
    @apply py-12.5 fixed top-0 left-1/2 -translate-x-1/2 w-full
}
.navLi{
    @apply cursor-pointer font-Poppins text-[#203239] hover:font-semibold duration-300 relative after:content-[''] after:absolute after:-bottom-1 after:left-1/2 after:-translate-x-1/2 after:w-0 after:h-0.5 after:bg-[#F6762E] after:transition-all after:duration-400 hover:after:w-[60%]
}
/* header part */
/* service part  */
.servicePart{
    @apply py-25
}
/* service part  */
/* favorit part */
.favorit{
    @apply py-17 bg-[#EEEDDE]
}
/* favorit part */
/* berbagai part */
.berbagai{
    @apply py-17
}
/* berbagai part */
/* contact part */
.contact{
    @apply py-12 bg-[#EEEDDE]
}
/* contact part */
/* contact part */
.footer{
    @apply py-7.75 bg-[#203239]
}
/* contact part */