@import "tailwindcss";

@theme {
    --font-Poppins: "Poppins", sans-serif; 
    --shadow-custom: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* common css */
.container{
    @apply w-291.5 mx-auto
}

.flex{
    @apply flex items-center
}
/* common css */
/* header part */
.header{
    @apply py-12.5 fixed top-0 left-1/2 -translate-x-1/2 w-full
}

.navLi{
    @apply cursor-pointer font-Poppins text-[#203239] hover:font-semibold duration-300 relative after:content-[''] after:absolute after:-bottom-1 after:left-1/2 after:-translate-x-1/2 after:w-0 after:h-0.5 after:bg-[#F6762E] after:transition-all after:duration-400 hover:after:w-[60%]
}
/* header part */
/* banner part */
.banner{
    @apply pt-47 pb-30 bg-[#EEEDDE]
}

.bannerLeftH1{
    @apply text-[#203239] font-Poppins font-semibold text-[56px] w-194.25 pb-6
}

.bannerLeftp{
    @apply text-base font-Poppins text-[#203239]/55 w-137 leading-7.5
}

.bannerInput{
    @apply relative px-10 py-6 bg-white text-[#203239]/55 rounded-[15px] w-127 outline-none
}

.inputBtn{
    @apply px-9.25 py-6 bg-white text-[#203239]/55 rounded-[15px] cursor-pointer
}
/* banner part */
/* service part  */
.servicePart{
    @apply py-25
}

.serviceTagh3{
    @apply text-[36px] font-Poppins font-semibold text-[#203239] w-133.25 pb-15.5
}

.services{
    @apply py-5 pr-4.75 pl-8 rounded-[10px] hover:shadow-custom duration-300 border border-transparent hover:border hover:border-[#EEEDDE]
}

.serviceInside{
    @apply relative flex justify-between items-center before:content-[''] before:absolute before:-left-8.5 before:w-1.5 before:h-7 before:bg-[#FF7527] before:rounded-full
}

.serviceInsideH3{
    @apply text-[#203239] font-Poppins font-medium text-base
}

.serviceInsideP{
    @apply text-[#FF7527] font-Poppins font-medium text-base
}

.serviceP{
    @apply text-base font-Poppins text-[#203239]/55 w-58.75 pt-2 pb-12 h-37.5
}

.serviceBtn{
    @apply text-[#203239] font-Poppins font-medium text-base cursor-pointer
}
/* service part  */
/* favorit part */
.favorit{
    @apply py-17 bg-[#EEEDDE]
}

.favoritTitleh4{
    @apply font-Poppins text-[#FF7527] font-medium text-base
}

.favoritTitle{
    @apply font-Poppins font-semibold text-[36px] text-[#203239] pt-2
}

.favoTexth3{
    @apply text-[36px] font-Poppins font-semibold text-[#203239] w-126.75
}

.favoTextp{
    @apply text-base font-Poppins text-[#203239] w-142.5 pt-6 pb-12 leading-7.5
}

.favoBtn{
    @apply px-10.25 py-3.25 text-[#203239] font-Poppins font-semibold text-base rounded-[10px] border-2 border-[#203239] hover:bg-[#203239] duration-300 cursor-pointer hover:text-white
}
/* favorit part */
/* berbagai part */
.berbagai{
    @apply py-17
}

.berbagaiTitleh4{
    @apply font-Poppins text-[#FF7527] font-medium text-base
}

.berbagaiTitleh3{
    @apply font-Poppins font-semibold text-[36px] text-[#203239] pt-2
}

.berbagaiCardh4{
    @apply pt-4 pb-2 text-[24px] font-medium text-[#203239] font-Poppins
}

.berbagaiCardp{
    @apply text-[#203239] text-base font-Poppins leading-7.5 w-89
}
/* berbagai part */
/* contact part */
.contact{
    @apply py-12 bg-[#EEEDDE]
}

.contactTitle{
    @apply font-Poppins font-semibold text-[36px] text-[#203239]
}

.contactCard{
    @apply px-10.25 py-6.25 bg-white rounded-[10px]
}

.contactCardh5{
    @apply text-base text-[#203239] font-Poppins font-medium
}

.contactCardp{
    @apply text-base text-[#203239] font-Poppins pt-2
}

.contactBtn{
    @apply text-white text-base font-Poppins font-semibold px-4.5 py-2.5 rounded-[5px] bg-[#203239] cursor-pointer
}
/* contact part */
/* footer part */
.footer{
    @apply py-7.75 bg-[#203239]
}

.footerIcon{
    @apply text-white cursor-pointer
}
/* footer part */