@import "tailwindcss";

@theme {
    --font-Poppins: "Poppins", sans-serif; 
    --shadow-custom: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container{
    @apply w-291.5 mx-auto
}

.flex{
    @apply flex items-center
}

.servicePart{
    @apply py-25
}