@import "tailwindcss";

@theme {
    --font-Poppins: "Poppins", sans-serif; 
    --shadow-custom: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container{
    @apply w-291.5 mx-auto
}

.flex{
    @apply flex items-center
}

/* service part  */
.servicePart{
    @apply py-25
}
/* service part  */
/* favorit part */
.favorit{
    @apply py-17 bg-[#EEEDDE]
}
/* favorit part */
/* berbagai part */
.berbagai{
    @apply py-17
}
/* berbagai part */
/* contact part */
.contact{
    @apply py-12 bg-[#EEEDDE]
}
/* contact part */
/* contact part */
.footer{
    @apply py-7.75 bg-[#203239]
}
/* contact part */